# Defaults for shadowsocks systemd service
# See /lib/systemd/system/shadowsocks-libev.service

# Configuration file
CONFFILE="{{ shadowsocks_path }}/config.json"

# Extra command line arguments
# Add -v for verbose mode to help with debugging
DAEMON_ARGS="-u"
