upstream php-handler {
  server  unix:/var/run/php/{{ nextcloud_php_fpm }}.sock;
}

server {
  listen       80;
  listen       [::]:80;
  server_name  .{{ nextcloud_domain }};

  include  enable/acme.conf;

  # Add headers to serve security related headers
  add_header  Referrer-Policy                    no-referrer;
  add_header  X-Content-Type-Options             nosniff;
  add_header  X-Download-Options                 noopen;
  add_header  X-Permitted-Cross-Domain-Policies  none;
  add_header  X-Robots-Tag                       none;
  add_header  X-XSS-Protection                   "1; mode=block";

  # Remove X-Powered-By, which is an information leak
  fastcgi_hide_header  X-Powered-By;

  location  =  /.well-known/carddav {
    return  301  $scheme://$host/remote.php/dav;
  }
  location  =  /.well-known/caldav {
    return  301  $scheme://$host/remote.php/dav;
  }

  # set max upload size
  client_max_body_size  512M;
  fastcgi_buffers       64  4K;

  # set timeouts
  fastcgi_connect_timeout  600;
  fastcgi_send_timeout     600;
  fastcgi_read_timeout     600;

  root  {{ nextcloud_path_webroot }};

  location  / {
      rewrite  ^  /index.php$request_uri;
  }

  location  ~  ^\/(?:build|tests|config|lib|3rdparty|templates|data)\/ {
      deny  all;
  }
  location  ~  ^\/(?:\.|autotest|occ|issue|indie|db_|console) {
      deny  all;
  }

  location  ~  ^\/(?:index|remote|public|cron|core\/ajax\/update|status|ocs\/v[12]|updater\/.+|ocs-provider\/.+)\.php(?:$|\/) {
      fastcgi_split_path_info    ^(.+?\.php)(\/.*|)$;
      include                    params/fastcgi.conf;
      fastcgi_param              SCRIPT_FILENAME          $document_root$fastcgi_script_name;
      fastcgi_param              PATH_INFO                $fastcgi_path_info;

      #Avoid sending the security headers twice
      fastcgi_param              modHeadersAvailable      true;
      fastcgi_param              front_controller_active  true;
      fastcgi_pass               php-handler;
      fastcgi_intercept_errors   on;
      fastcgi_request_buffering  off;
  }

  location  ~  ^\/(?:updater|ocs-provider)(?:$|\/) {
      try_files  $uri/  =404;
      index      index.php;
  }

  # Adding the cache control header for js and css files
  # Make sure it is BELOW the PHP block
  location  ~  ^\/.+[^\/]\.(?:css|js|woff2?|svg|gif)$ {
      try_files   $uri                               /index.php$request_uri;
      add_header  Cache-Control                      "public, max-age=15778463";
      # Add headers to serve security related headers  (It is intended
      # to have those duplicated to the ones above)
      add_header  Referrer-Policy                    no-referrer;
      add_header  X-Content-Type-Options             nosniff;
      add_header  X-Download-Options                 noopen;
      add_header  X-Permitted-Cross-Domain-Policies  none;
      add_header  X-Robots-Tag                       none;
      add_header  X-XSS-Protection                   "1; mode=block";

      # Optional: Don't log access to assets
      access_log  off;
  }

  location  ~  ^\/.+[^\/]\.(?:png|html|ttf|ico|jpg|jpeg)$ {
      try_files   $uri  /index.php$request_uri;
      # Optional: Don't log access to other assets
      access_log  off;
  }
}
