[uwsgi]
; load the required plugins
plugins = php
; force the sapi name to 'apache', this will enable the opcode cache
php-sapi-name = apache

; set master process name and socket
; '%n' refers to the name of this configuration file without extension
procname-master = uwsgi %n

; drop privileges
umask  = 027

; run with at least 1 process but increase up to 4 when needed
cheaper = 1
processes = 4

; reload whenever this config file changes
; %p is the full path of the current config file
touch-reload = %p

; disable uWSGI request logging
disable-logging = true

; enforce a DOCUMENT_ROOT
php-docroot = {{ nextcloud_path_webroot }}
; limit allowed extensions
php-allowed-ext = .php
; and search for index.php if required
php-index = index.php

; set php configuration for this instance of php, no need to edit global php.ini
php-set = date.timezone=Asia/Yekaterinburg
php-set = expose_php=false
; avoid security risk of leaving sessions in world-readable /tmp
php-set = session.save_path={{ nextcloud_path_data }}

; port of php directives set upstream in {{ nextcloud_path_webroot }}/.user.ini for use with PHP-FPM
php-set = upload_max_filesize=513M
php-set = post_max_size=513M
php-set = memory_limit=512M
php-set = output_buffering=off

; opcache
php-set = zend_extension=opcache

; user cache
php-set = apc.enable_cli=1

; web server is already handling URL rewriting, so tell NextCloud not to repeat this
env = front_controller_active=true

cron2 = minute=-5,unique=1 /usr/bin/php -f {{ nextcloud_path_webroot }}/cron.php 1>/dev/null