[uwsgi]
; load the required plugins
plugins = php
; force the sapi name to 'apache', this will enable the opcode cache
php-sapi-name = apache

; set master process name and socket
; '%n' refers to the name of this configuration file without extension
procname-master = uwsgi %n

; drop privileges
umask  = 027

; run with at least 1 process but increase up to 4 when needed
cheaper = 1
processes = 4

; reload whenever this config file changes
; %p is the full path of the current config file
touch-reload = %p

; disable uWSGI request logging
disable-logging = true

; automatically rewrite SCRIPT_NAME and PATH_INFO
manage-script-name = true

; enforce a DOCUMENT_ROOT
php-docroot = {{ nextcloud_path_webroot }}
php-allowed-ext = .php
php-index = index.php

; set php configuration for this instance of php, no need to edit global php.ini
php-set = date.timezone=Asia/Yekaterinburg
php-set = expose_php=false
php-set = session.save_path={{ nextcloud_path_data }}/session

; port of php directives set upstream in {{ nextcloud_path_webroot }}/.user.ini
php-set = upload_max_filesize=513M
php-set = post_max_size=513M
php-set = memory_limit=512M
php-set = mbstring.func_overload=0
php-set = always_populate_raw_post_data=-1
php-set = default_charset='UTF-8'
php-set = output_buffering=0

; user cache
php-set = apc.enable_cli=1

cron2 = minute=-5,unique=1 /usr/bin/php -f %(php-docroot)/cron.php 1>/dev/null