[Interface]
Address = {{ wireguard_ip_gateway }}/32
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_server_key }}

PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostUp = systemctl start danted

PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -o %i -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = systemctl stop danted

{% for item in wireguard_clients|zip(wireguard_client_keys_pub.results)|list %}
# "{{ item[0] }}" Client Peer
[Peer]
PublicKey = {{ item[1].stdout }}
AllowedIPs = {{ wireguard_ip_base }}{{ loop.index + 1 }}/32

{% endfor %}
